/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */
code {
  background: #2db34a;
  border-radius: 6px;
  color: #fff;
  display: block;
/*   font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier; */
/*   padding: 24px 15px; */
  text-align: center;
  background-color: pink;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  height: 2rem;
  border-bottom: solid gray;
  border-top: solid gray;
  padding-top: .75rem;
}

header,
section,
aside,
footer {
  margin: 0 1.5% 24px 1.5%;
}

section {
  float: left;
  width: 63%;
}

aside {
  float: right;
  width: 30%;
}

footer {
  clear: both;
  margin-bottom: 0;
}

button {
  background-color: navy;
  color: white;
  border-radius: 12px;
}

a {
  text-decoration: none;
  color: black;
  padding: 1rem;
}

a:hover {
  color: gray;
  text-transform: uppercase; 
}

aside {
  background-color: beige;
}

@font-face {
    font-family: lato-regular;
    src: url(../fonts/lato-regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: montserrat-regular;
    src: url(../fonts/montserrat-regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: opensans-regular;
    src: url(../fonts/opensans-regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: roboto-regular;
    src: url(../fonts/roboto-regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: josefinslab-regular;
    src: url(../fonts/josefinslab-regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: robotoslab-regular;
    src: url(../fonts/robotoslab-regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: rozhaone-regular;
    src: url(../fonts/rozhaone-regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ultra-regular;
    src: url(../fonts/ultra-regular.ttf);
    font-weight: normal;
    font-style: normal;
}

